.chatPrePag{    
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  vertical-align:middle;
  justify-content: center;
  
}
.centerCPP{    
  width: 74%;
  height: 84%;
  background-color: rgba(240, 239, 238, 0.2);
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 5px solid rgb(255, 252, 252,0.5);
  backdrop-filter: blur(10px);
  display: flex;
}
.chatImgsCont{
    position: relative;
    width: 50%;
   height: 100%;
   background-color:none;
}
.imgAvatar{
    width: 80%;
    position: absolute;
    top:10%;
    left: 25%;
    filter: drop-shadow(15px 5px 2px #454546);
}
.imgChats{
    width: 50%;
    top:10%;
    position: absolute;
    filter: drop-shadow(15px 5px 2px #454546);
}


.logoPsicoPride{
    width: 120px;
    filter: drop-shadow(0 0 1px rgb(0, 0, 0));
    position: absolute;
    right: 5px;
    top: 5px;
}


.bienvenidos{
    font-weight: bolder;
    color:rgb(255, 255, 255,0.8);
    text-shadow: 2px 2px #464545;
}
.moreinf{
    font-size: 24px;
    font-weight: bolder;
    color:rgba(105, 105, 105, 0.8);
    text-shadow: 0.5px 0.5px #161616;
}
.promptCont{
    margin-left: 5%;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    vertical-align:middle;
    justify-content: center;
    
}



.button-75 {
  align-items: center;
  background-image: linear-gradient(135deg,#63c3fa, #ab40f3 , #ff719e, #beffa5);
  border: 0;
  border-radius: 7px;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 700;
  height: 54px;
  justify-content: center;
  line-height: 1;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: inset 1px 1px 5px rgb(252, 252, 252);
  animation-name: sacudir;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  text-shadow: 1px 1px black;
}

.button-75:active {
  outline: 0;
}

.button-75:hover {
  outline: 0;
  animation: none;
}

.button-75 span {
  transition: all 200ms;
}

.button-75:hover span {
  transform: scale(.9);
  opacity: .75;
}


@keyframes sacudir {
  0%, 40%{  transform: translate3d(-1px, 0, 0); }
  5% ,35%{ transform: translate3d(2px, 0, 0) }
  10% ,20%, 30%{ transform: translate3d(-4px, 0, 0) }
  15%, 25% {
    transform: translate3d(4px, 0, 0);
  }
  45%{transform: translateX(0); }

  100% { transform: translateX(0); }
}

@media screen and (max-width: 991px) {
  .button-75 {
    font-size: 15px;
    height: 50px;
  }

  .button-75 span {
    line-height: 50px;
  }
}