.ChatLogoSeacrhPregCont{
    display: flex;
}
.ChatLogoContHide{
    display: none;
}

.chatandsuggCont{
    width: 100%;
    display: grid;
    grid-template-columns: 57.1% 42.9%;

}
.chatboXCont{
    width: 100%;    
}
.chatBox{
    width: 96% ;   
    height: 84%;
    box-shadow: rgb(5, 5, 5) 0px 24px 30px -7px;
    border-radius: 10px;
    background:  radial-gradient(circle at 66.66666666666666% 65.66666920979817%, #a6cbff 0%, 21.349999999999998%, rgba(142,185,246,0) 35%), radial-gradient(circle at 20% 8.333333333333332%, #f8a4b9 0%, 24.779999999999998%, rgba(243,128,157,0) 42%), radial-gradient(circle at 23.00004164377848% 64.33335622151692%, rgba(184, 176, 250, 0.99) 0%, 29.5%, rgba(144,132,246,0) 50%), radial-gradient(circle at 65.66666920979817% 16.33333365122477%, #92f7ba 0%, 42%, rgba(89,234,148,0) 70%), radial-gradient(circle at 48.9013671875% 49.521484375%, #d3cef8 0%, 100%, rgba(199,192,250,0) 100%);
}

.ChatBoxEstadoCont{
    width: 100%;
    vertical-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.ChatActivo{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(85, 224, 85);
    position: relative;
    top:20px;
    right: 25px;
    animation: pulse 1.5s infinite;
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    border: 0.2px solid rgb(75, 255, 84)
    
}

  @keyframes pulse {
    0% {
     transform: scale(0.9);
     box-shadow: 0 0 0 0 rgba(90, 153, 212, 0)
    }
    70% {
      transform: scale(1.1);
      box-shadow: 1px  3px 0 50px rgba(90, 153, 212, 0);
    }
      100% {
       transform: scale(0.9);
      box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
  }

.ChatBoxNameCont{
    width: 100%;
    padding: 12px 0px;
    text-shadow: 1.5px 1.2px rgb(26, 26, 26);
    color: rgb(236, 231, 231);
    font-weight: bolder;
    
}

.ChatBoxMsgCont{
    width: 100%;
    height: 76%;
    
}
.ChatBoxInputCont{
    width: 100%;
    background-color: rgb(255, 165, 214,0.2);
    display: grid;
    grid-template-columns: 80% 20%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px -2px 5px -1px, rgba(0, 0, 0, 0.3) 0px -1px 3px -1px;
    border-radius: 0px 0px 5px 5px;
}

.chatLogo{
    width: 120px;
    filter: drop-shadow(0 0 1px rgb(0, 0, 0));
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.ChatInput{
    all:unset;
    background-color: transparent;
    border-radius: 0px 0px 10px 10px;
    width: 76%;
    padding: 24px 0px 24px 30px;
}

.sendBtn{    
    cursor: pointer;
    color: #7169ac;
    font-size: 40px;
    filter: drop-shadow(1px 2px 0.5px #131212);
    transition: transform 0.2s linear;
    align-self: center;
}
.sendBtn:hover{
    transform: scale(1.2);
    transform: rotate(-20deg);
}

.closeBtnChat{
    cursor: pointer;
    font-size: 24px;
    transition: transform 0.2s linear;
}

.closeBtnChat:hover{
    transform: scale(1.2);
}

@media (max-width: 1000px) {
    .chatandsuggCont{
        grid-template-columns: 64,87% 35,13%;
    }
}
@media (max-width: 800px) {
}

@media (max-width: 700px) {
    .chatandsuggCont{
    
        font-size: 90%;
    }

}
@media (max-width: 600px) {
    .chatandsuggCont{
        display: block;
    }
    .chatandsuggCont{    
        font-size: 80%;
    }
    .ChatLogoSeacrhPregCont{
        display: none;
        background-color: #7169ac;
    }
    .ChatLogoContHide{
        display: block;
    }    
    
}
@media (max-width: 400px) {
    .ChatLogoContHide{
        display: none;
    } 
    .chatboXCont{
        height: 100%;
    }
    .chatandsuggCont{
        height: 100%;
    }
}
@media (max-width: 300px) {

}