.chatCont{
    display: grid;
    height: 100vh;
    grid-template-columns: 30% 40% 30%;
    /* background-image: url('https://i.pinimg.com/originals/a6/fa/63/a6fa637c725a806a85762b0b4cc323b8.jpg');
    background-size: 100% 100%; */
    /* background-repeat: no-repeat; */
    /* background:  radial-gradient(circle at 66.66666666666666% 65.66666920979817%, #8EB9F6 0%, 21.349999999999998%, rgba(142,185,246,0) 35%), radial-gradient(circle at 20% 8.333333333333332%, #F3809D 0%, 24.779999999999998%, rgba(243,128,157,0) 42%), radial-gradient(circle at 23.00004164377848% 64.33335622151692%, rgba(144,132,246,0.99) 0%, 29.5%, rgba(144,132,246,0) 50%), radial-gradient(circle at 65.66666920979817% 16.33333365122477%, #59EA94 0%, 42%, rgba(89,234,148,0) 70%), radial-gradient(circle at 48.9013671875% 49.521484375%, #C7C0FA 0%, 100%, rgba(199,192,250,0) 100%); */
    background-color: rgb(50, 51, 51);
}
.avatarContChat{
    width: 100%;
    height: 100%;
 
}
.chatboXCont{
    width: 100%;
    
}
.arrowBtn{
    font-size: 57px;
    position: relative;
    top: 10px;
    left: 10px;
    cursor: pointer;
    color: rgb(222, 223, 224);
    filter: drop-shadow(5px 2px 0.5px #6a6a6b);
    transition: transform 0.3s linear;
}
.arrowBtn:hover{
    transform: scale(1.2);
}

.avatarChat{
    filter: drop-shadow(15px 5px 3px #030303);
    position:fixed;
    left: 40px;
    bottom: 10px;
}

.chatBox{
    width: 96% ;   
    height: 84%;
    box-shadow: rgb(5, 5, 5) 0px 24px 30px -7px;
    border-radius: 10px;
    background:  radial-gradient(circle at 66.66666666666666% 65.66666920979817%, #a6cbff 0%, 21.349999999999998%, rgba(142,185,246,0) 35%), radial-gradient(circle at 20% 8.333333333333332%, #f8a4b9 0%, 24.779999999999998%, rgba(243,128,157,0) 42%), radial-gradient(circle at 23.00004164377848% 64.33335622151692%, rgba(184, 176, 250, 0.99) 0%, 29.5%, rgba(144,132,246,0) 50%), radial-gradient(circle at 65.66666920979817% 16.33333365122477%, #92f7ba 0%, 42%, rgba(89,234,148,0) 70%), radial-gradient(circle at 48.9013671875% 49.521484375%, #d3cef8 0%, 100%, rgba(199,192,250,0) 100%);
    
}
.ChatBoxEstadoCont{
    width: 100%;
    vertical-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.ChatActivo{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(85, 224, 85);
    position: relative;
    top:20px;
    right: 25px;
    animation: pulse 1.5s infinite;
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    border: 0.2px solid rgb(75, 255, 84)
    
}

  @keyframes pulse {
    0% {
     transform: scale(0.9);
     box-shadow: 0 0 0 0 rgba(90, 153, 212, 0)
    }
    70% {
      transform: scale(1.1);
      box-shadow: 1px  3px 0 50px rgba(90, 153, 212, 0);
    }
      100% {
       transform: scale(0.9);
      box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
  }

.ChatBoxNameCont{
    width: 100%;
    padding: 12px 0px;
    text-shadow: 1.5px 1.2px black;
    color: white;

    
}

.ChatBoxMsgCont{
    width: 100%;
    height: 76%;
    
}
.ChatBoxInputCont{
    width: 100%;
    /* height: 14%; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px -2px 5px -1px, rgba(0, 0, 0, 0.3) 0px -1px 3px -1px;
    border-radius: 0px 0px 5px 5px;
}

.chatLogo{
    width: 120px;
    filter: drop-shadow(0 0 1px rgb(0, 0, 0));
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.ChatInput{
    all:unset;
    background-color: transparent;
    border-radius: 0px 0px 10px 10px;
    width: 90%;
    padding: 24px 26px;
}