.stepperCont{
    width: 80%;
    text-align: center;
    position: relative;
}
.progresLineStep{    
    width: 90%;
    height: 12px;
    background-color: rgb(46, 42, 42);
    box-shadow: inset 2px 1px 4px #111111;
}
.progressDone{
    height: 8px;
    background-color: blueviolet;
    transition: width 1s linear;
    box-shadow: inset 2px 1px 9px #111111;
}
.numberStep{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgb(63, 62, 62);
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.numberStep1{
    left: 5%;
}

.numberStep2{
    left: 35%;
}
.numberStep3{
    right: 35%;
}
.numberStep4{
    right:  5%;
}

@media (max-width: 1000px) {
    .stepperCont{
        width: 90%;       
    }
}
@media (max-width: 800px) {
}

@media (max-width: 700px) {
    .stepperCont{
        width: 100%;
       
    }
}
@media (max-width: 600px) {

}
@media (max-width: 400px) {

}
@media (max-width: 300px) {

}
