.cards{
    max-width: 340px;
    gap: 20px 8px;
  }
  .btnEdad{
    width: 80px;
    height: 80px;
    justify-content: center;
    text-align: center;
    transition: background-color 1s, border-radius 1s linear;
    border-radius: 12%;   
    box-shadow:  1px 1px 1px black, -0.1px -0.1px 1px black;
    
  }

  .btnEdad h5{
    font-size: 100%;
    text-shadow: 1.6px 1.6px black;
  }
  

  @keyframes gradient {
    0% {
      background: radial-gradient(circle at center, rgba( 255, 125 , 125, 0 ) 0%, #fff 0%, #fff 100%);
    }
    25% {
      background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.3 ) 24%, #fff 25%, #fff 100%);
    }
    50% {
      background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.5 ) 49%, #fff 50%, #fff 100%);
    }
    75% {
      background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.8 ) 74%, #fff 75%, #fff 100%);
    }
    100% {
      color: #fff;
      background: radial-gradient(circle at center, #f88 99%, #fff 100%, #fff 100%);
    }
  }
  
  
  .btnEdad:hover{
    background-color: rgba(65, 64, 64, 0.9);    
    
  }
 .btnEdad:active{
  border-radius: 0%;
  animation: gradient 200ms;
  background: #f88;
  color: #fff;
 }

 .btnSe{
  background: #f88;
  border-radius: 12%;
  box-shadow: inset 0 0 6px 0 #414141;
 }

 