.landingPag{
    height: 100vh ;
    width: 100%;    
    position: relative;
    background-image: url('https://i.pinimg.com/564x/39/45/29/394529973a8ad6d1bc702af56d55ec11.jpg');
    overflow:auto;
    background-repeat:no-repeat;
    background-size: cover;
    
  }


  
  .box {
    position: absolute;
    top: 60%;
    left: 85%;
    background-color: hotpink;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    cursor: pointer;
    box-shadow:  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }