.modaldetalleTema{
    height: 100vh;
}
.mainimgDetalleTema{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}
.contDeTema{
    min-height: 200vh;
  max-height: 200vh;  
    color: aliceblue;
    position: relative;
}
.contContenidoDeTe{
    position: absolute;
    top: 0;
    background-image: linear-gradient(rgba(207, 203, 203, 0.1),   rgba(0, 0, 0, 0.5));    
    width: 100%;
    height: 100%;
}

.ContTituloDeTe{
    margin-left: 20px;
    text-shadow: 5px 5px black;    
    max-width: 60%;
    margin-top: 30vh;
    min-height: 20vh;
}
.ContTituloDeTe h2{
    font-size: 70px;
}

.ContAllParagraphs{
    width: 90%;
    margin: 1% 5%;
}

.contParagraph{
    margin: 3% 0%;
}

.ContParagraphLista{
    width: 90%;
    margin: 2% 5%;
}

.ContContParagraph{
    margin: 3% 0%;
    display: grid;
    grid-template-columns: 10% 90%;
}

.ContadorParag{
    display: grid;
    place-items: center;
    text-align: center;
    font-size: 180%;
    text-shadow: 2px 2px black;
}
.contDeTemaLoding{
    height: 100vh;
}
.loadingImgDe{
    height: 50vh;

}
.loadingParagraph{
    width: 90%;
    margin-left: 5%;
    border-radius: 50px;
}

.detalleTemaError{
    height: 50vh;
    color: aliceblue;
}

.retryBtnTema{  
    margin-top: 3%;
    padding: 10px 20px;
    border: 2px solid aliceblue;
    transition: transform 0.5s linear;
}

.retryBtnTema:hover{
    transform: scale(1.1);
}

.closeBtnDeTema{
    position: absolute;
    top:0;
    right: 0;    
    cursor: pointer;
    font-size: 36px;
    padding: 3px;
    transition: border 2s linear;
    background-color: rgb(255, 255, 255,0.1);
    transition: transform 0.5s, background-color 0.5s linear;
}
.closeBtnDeTema:hover{
    filter: drop-shadow(2px 2px 1px black);
    background-color: rgb(255, 255, 255,0.4);
    transform: scale(1.1);
    border: 0.5px solid rgb(255, 252, 252,0.8);
}