.cardsOrientaciones{
    max-width: 620px;
    gap: 24px 10px;
}

.flagImg{
    width: 100%;
    height: 80px;
    border-radius: 0px 0px 8px 8px;
}

.insideOriBtn{
    width: 90%;
}

.btnOrientacion{    
    border-radius: 8px;
    width: 160px ;
    height: 130px;
    box-shadow: rgba(0, 0, 0, 0.35) 3px 8px 15px;
    transition: transform 0.6s,border 0.2s linear;
}

.btnOrientacion:hover{
    transform: scale(1.1);
    border: 1.5px solid white;
    box-shadow: rgba(241, 241, 241, 0.2) 0px 2px 8px 0px;
 }
.btnOriSel{
    transform: scale(1.1);
    border: 1.5px solid white;
    box-shadow: rgba(241, 241, 241, 0.2) 0px 2px 8px 0px;
}
.selectedCont{
  
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
}
input[type="checkbox"] {
    /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color:rebeccapurple;
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

 