
  .container {
    position: relative;
    height: 800px;
    width: 100%;
    overflow: hidden;
  }
  
  .box {
    background-image: url('./prompt.png');
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: center;
    background-color: rgb(187, 135, 207);
    border-radius: 50%;
    height: 130px;
    width: 130px;
    cursor: pointer;
    box-shadow: rgba(7, 7, 10, 0.25) 0px 15px 30px -6px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    
  }